<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="">Home</div>
        <div class="">navigation</div>
      </div>
    </nav>

    <main>
      <h1>Language Checker</h1>
      <section>
        <form class="mb-3" onsubmit="return Client.handleSubmit(event)">
          <div>
            <textarea
              rows="3"
              class="form-control"
              id="name"
              type="text"
              name="input"
              value=""
              placeholder="Text"
            ></textarea>
          </div>
          <div class="mb-3 contaner">
            <input
              class="btn btn-primary button"
              type="submit"
              name=""
              value="check"
              onclick="return Client.handleSubmit(event)"
              onsubmit="return handleSubmit(event)"
            />
          </div>
        </form>
      </section>

      <section>
        <strong>The language is:</strong>
        <div id="results">Type Something First!</div>
        <strong>Date:</strong>
        <div id="date">--</div>
      </section>
    </main>

    <footer class="bg-dark text-white pt-2 pb-1">
      <div class="container"><p>@Markos Malek 2022</p></div>
    </footer>
  </body>
  <script>
    // Check that service workers are supported
    if ("serviceWorker" in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener("load", () => {
        navigator.serviceWorker.register("./service-worker.js");
      });
    }
  </script>
</html>
